.educationContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .verticalFrames {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .frame {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .frame h2 {
    color: #333;
  }
  
  .frame ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  .frame a {
    color: #4ea1ee;
    text-decoration: none;
  }
  
  