.footer {
  padding: 20px;
  background-color: black;
  color: #ffffff;
  margin: 10px;
  border-radius: 8px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-map {
  flex: 2;
  margin-right: 20px;
}

.leaflet-container {
  height: 400px;
  width: 100%;
  border-radius: 8px;
}

.leaflet-container .leaflet-control-attribution {
  display: none !important;
}

.contact-information {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-information h1 {
  color: red;
  font-weight: bolder;
}

.contact-item {
  margin-bottom: 20px;
  font-size: 18px;
}

.newsletter {
  margin-top: 20px;
}

.subscribe-button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f53434;
  color: white;
  margin-top: 10px; /* Add margin-top to create space between the button and the input box */
}

.subscribe-button:hover {
  background-color: #4596FF;
}

.email-form input[type="email"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 80%;
  margin-right: 10px;
  margin-bottom: 10px; /* Add margin-bottom to create space between the input box and the button */
}

.message {
  margin-top: 10px;
  font-size: 14px;
}

.message.success {
  color: green;
}

.message.error {
  color: red;
}
