.footer {
  padding: 20px;
  background-color: black;
  color: #ffffff;
  margin: 10px;
  border-radius: 8px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-map {
  flex: 2;
  margin-right: 20px;
  min-width: 300px; /* Ensure a minimum width */
  margin-bottom: 20px;
}

.leaflet-container {
  height: 400px;
  width: 100%;
  border-radius: 8px;
}

.leaflet-container .leaflet-control-attribution {
  display: none !important;
}

.contact-information {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 300px; /* Ensure a minimum width */
}

.contact-information h1 {
  color: red;
  font-weight: bolder;
}

.contact-item {
  margin-bottom: 20px;
  font-size: 18px;
}

.newsletter {
  margin-top: 20px;
}

.subscribe-button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f53434;
  color: white;
  margin-top: 10px;
}

.subscribe-button:hover {
  background-color: #4596FF;
}

.email-form input[type="email"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 80%;
  margin-right: 10px;
  color: black;
  margin-bottom: 10px;
}

.message {
  margin-top: 10px;
  font-size: 14px;
}

.message.success {
  color: green;
}

.message.error {
  color: red;
}

/* Responsive styles */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-map, .contact-information {
    min-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .leaflet-container {
    height: 300px; /* Adjust map height for smaller screens */
  }
}

@media (max-width: 480px) {
  .contact-item {
    font-size: 16px;
  }

  .subscribe-button {
    width: 90px;
    height: 35px;
  }

  .email-form input[type="email"] {
    font-size: 14px;
    width: 70%;
  }

  .message {
    font-size: 12px;
  }
}
