.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: black;
  color: #ffffff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  flex-wrap: wrap;
}

.headerLeft,
.headerRight {
  flex: 1;
  display: flex;
  align-items: center;
}

.headerLeft {
  justify-content: flex-start;
  margin-left: 10px;
}

.headerCenter {
  flex: 1; 
  display: flex;
  justify-content: center;
}

.headerLogo {
  width: 73px;
  height: auto;
}

.headerRight {
  justify-content: flex-end;
  gap: 20px;
  margin-right: 10px;
}

.headerRight h5,
.headerLeft h5 {
  font-size: 14px;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headerIcon {
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  color: #fffdfd;
}

.headerIcon:hover {
  color: #6c63ff;
  transform: scale(1.1);
}

.emailIcon {
  margin-right: 20px;
}

.clockContainer,
.phoneContainer {
  display: flex;
  align-items: center;
}

.clockContainer h5,
.phoneContainer h5 {
  margin-left: 8px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .headerContainer {
    flex-direction: column;
    align-items: center;
  }

  .headerLeft, .headerRight {
    justify-content: center;
    margin: 10px 0;
  }

  .headerCenter {
    justify-content: center;
    margin: 10px 0;
  }

  .headerLogo {
    width: 50px;
  }
}
