.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
  color: #333;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* margin: 10px;
  border-radius: 0; 
   padding: 10px 20px; */
}

.headerLeft,
.headerRight {
  flex: 1;
  display: flex;
  align-items: center;
}

.headerLeft {
  justify-content: flex-start;
  margin-left: 10px;
}

.headerCenter {
  flex: 1; 
  display: flex;
  justify-content: center;
}

.headerLogo {
  width: 73px;
  height: auto;

}

/* .headerLeft h4 {
  font-size: 14px;
  margin: 0 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

.languageIcon {
  width: 42px;
  height: 30px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 0; /* Removed border-radius */
}

.languageIconImage {
  width: 100%;
  height: 100%;
}

.downIcon {
  font-size: 14px;
  margin-left: 5px;
}

.headerRight {
  justify-content: flex-end;
  gap: 20px;
  margin-right: 10px;
}

.headerRight h5 {
  font-size: 14px;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headerLeft h5 {
  font-size: 14px;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headerIcon {
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  color: #4a4a4a;
}

.headerIcon:hover {
  color: #6c63ff;
  transform: scale(1.1);
}

.emailIcon {
  margin-right: 20px;
}

.clockContainer,
.phoneContainer {
  display: flex;
  align-items: center;
}

.clockContainer h5,
.phoneContainer h5 {
  margin-left: 8px;
}
