.homepage {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    position: relative;
}

.hero-content-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.hero-content {
    padding-right: 20px;
}

.valuation-button {
    margin-top: 20px;
}
.valuation-button:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3); 
  }

.hero-image {
    flex: 5; 
    max-width: 60%;
    height: auto;
}

.hero-svg {
    position: absolute;
    top: -50px;
    left: -50px;
    z-index: -1;
}

.help-section {

    padding: 20px;
    position: relative;
}

.help-title {
    text-align: center;
    margin-bottom: 20px;
}

.help-section-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.help-card {
    max-width: 500px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s; 
    margin-right: 20px;
}

.help-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.check-price {
    text-align: center;
}

.check-price-card {
    padding: -24px;
    height: 385px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s; 
}

.check-price-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3); 
}

.check-price-button {
    background-color: #34d8f5; 
    border-color: #34d8f5; 
    color: #333; 
    transition: background-color 0.3s, border-color 0.3s;
}

.check-price-button:hover {
    background-color: #34c4f0; /* Slightly different shade for hover */
    border-color: #34c4f0;
}
