.navbarContainer {
  padding: 0 15px;
  color: #333;
  background: rgb(250, 81, 81);
  max-width: 100%;
}

.navbarLeft {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navbarItem {
  font-size: 17px;
  padding: 10px 15px;
  color: black;
  display: flex;
  align-items: center;
}

.navbarItem:hover {
  color: #ffffff;
  background-color: rgba(24, 144, 255, 0.1);
  border-radius: 10px;
}

.navbarRightContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbarRight {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchContainer {
  width: 100%;
  max-width: 360px;
  margin-right: 20px;
}

.searchIcon {
  font-size: 22px;
}

.signInButton {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.profileContainer p {
  font-size: 14px;
  margin-left: 10px;
  margin-top: 15px;
  font-weight: bold;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .navbarLeft {
    justify-content: center;
    margin: 10px 0;
  }

  .navbarItem {
    padding: 10px;
  }

  .navbarRightContainer {
    justify-content: center;
    margin-top: 10px;
  }

  .searchContainer {
    width: 100%;
    margin-bottom: 10px;
  }

  .signInButton {
    flex-direction: column;
  }

  .signInBtn, .signUpBtn {
    width: 100%;
    margin-bottom: 10px;
  }

  .profileContainer p {
    display: none;
  }
}
