.navbarContainer {
  align-items: center;
  padding: 0 15px;
  background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
  color: #333;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 10px;
}

.navbarLeft {
  display: flex;
  align-items: center;
}

.navbarMenu {
  display: flex;
}

.navbarItem {
  font-size: 17px;
  padding: 30px;
  color: black;
  display: flex;
  align-items: center;
}

.navbarItem:hover {
  color: #1890FF;
  background-color: rgba(24, 144, 255, 0.1);
  border-radius: 10px;
}

.navbarRightContainer {
  display: flex;
  justify-content: flex-end;
}

.navbarRight {
  display: flex;
  align-items: center;
}

.searchContainer {
  width: 350px;
  margin-right: 40px;
}

.searchIcon {
  font-size: 22px;
}

.signInButton {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profileContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profileContainer p {
  font-size: 16px;
  margin-left: 10px;
}

.userIcon {
  font-size: 22px;
}