.pricingContainer {
    max-width: 1800px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.chartGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 18px;
}

.chartItem {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.chartItem p {
    margin-bottom: 10px;
}

.chartItem img {
    width: 100%;
    height: auto;
}

.radio-button-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.radio-button-img {
    width: 50px;
    height: 50px;
    border: none;
    margin-right: 10px;
}

.radio-button-text {
    flex: 1;
    margin-top: 4px;
    text-align: center;
    font-size: 12px;
}

.ant-radio-button-wrapper {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
}