.pricingContainer {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: 20px auto;
    padding: 40px;
    line-height: 1.6;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.pricingContainer h1 {
    font-size: 2em;
    color: #333; 
}

.pricingContainer h2,
.pricingContainer h3 {
    margin-top: 15px;
    color: #555; 
}

.pricingContainer p {
    margin-bottom: 15px; 
}
.report-image {
    width: 100%;
    height:  100%;
}
.pricingContainer a {
    color: #007bff; 
}
