.profilUserContainer {
  font-family: Arial, sans-serif;
  max-width: 900px;
  margin: 20px auto 20px auto;
  padding: 40px;
  line-height: 1.6;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
}

.sideNav {
  display: flex;
  flex-direction: column;
  width: 200px; /* Adjust width as needed */
  padding: 10px;
  background-color: #f0f0f0; /* Optional: background color for sidebar */
}

.sideNav button {
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff; /* Button background color */
  border: 1px solid #ccc; /* Button border color */
  border-radius: 4px; /* Button border radius */
  transition: background-color 0.3s;
}

.sideNav button:hover {
  background-color: #e0e0e0; /* Background color on hover */
}

.contentContainer {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff; /* Content background color */
  border-left: 1px solid #ccc; /* Optional: border between sidebar and content */
}
