.profilUserContainer {
  font-family: Arial, sans-serif;
  max-width: 1100px;
  margin: 0px auto 0px auto;
  padding: 40px;
  line-height: 1.6;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
}

.sideNav {
  display: flex;
  flex-direction: column;
  flex-basis: 30%; /* 30% of the total container width */
  padding: 10px;
  background-color: #fffdfd; /* Optional: background color for sidebar */
}

.sideNav button {
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff; /* Button background color */
  border: 1px solid #ccc; /* Button border color */
  border-radius: 4px; /* Button border radius */
  transition: background-color 0.3s;
}

.sideNav button:hover {
  background-color: #e0e0e0; /* Background color on hover */
}

.contentContainer {
  flex-basis: 70%; /* 70% of the total container width */
  padding: 20px;
  background-color: #ffffff; /* Content background color */
}

.profile-card-img {
  width: 100%; /* Make the image take up the full width of the container */
  height: 150px; /* Set a fixed height */
  object-fit: cover; /* Ensure the image covers the area without distortion */
}

.ant-card-meta-description p {
  margin: 5px 0;
}
