.register-container {
    display: flex;
    min-height: 100vh;
  }
  
  .info-section,
  .form-section {
    background-color: #ffffff; /* Set the same background color for both sections */
  }
  
  .info-section {
    padding: 50px;

  }
  
  .hero-content {
    max-width: 400px;
    margin-top: 100px;
    margin-left: 200px;
  }
  
  .hero-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .hero-content ul {
    list-style: none;
    padding: 0;
  }
  
  .hero-content li {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .form-section {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .form-container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: #f8f8f8; /* Form container background */
    border-radius: 8px;
  }
  
  .form-container h2 {
    text-align: center;
    margin-top: 30px;
  }
  
  .login-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #3E9C35;
  }
  
  .button-create{
    background-color: #3E9C35;
  }