.request-detail-container {
  padding: 24px;
}

.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
}


.info-card {
  margin-bottom: 24px;
  text-align: center;
}

.info-item {
  margin-bottom: 12px;
  
}

.icon-customer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.info-icon {
  font-size: 16px;
  margin-left: 8px;
  color: #1890ff;
}

.diamond-image {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}