.layout {
    background: #fff;
  }
  
  .site-layout-content {
    background: #fff;
    padding: 24px;
    margin: 0;
    min-height: 280px;
  }
  
  .input-form .section-spacing {
    margin-bottom: 16px;
  }
  