.cutSectionContainer {
  font-family: Arial, sans-serif;
  max-width: 900px;
  margin: 20px auto;
  padding: 40px;
  line-height: 1.6;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.image-container {
  text-align: center;
  margin: 20px 0;
}

.cutSectionContainer h1,
.cutSectionContainer h2,
.cutSectionContainer h3 {
  color: #333;
  margin-bottom: 20px;
}

.cutSectionContainer h1 {
  font-size: 2.5em;
  text-align: center;
}

.cutSectionContainer h2 {
  font-size: 2em;
  text-align: center;
}

.cutSectionContainer h3 {
  font-size: 1.5em;
  text-align: center;
}

.cutSectionContainer p,
.cutSectionContainer ul {
  color: #555;
  margin-bottom: 20px;
}

.cutSectionContainer a {
  color: #4ea1ee;
  text-decoration: none;
}

.cutSectionContainer a:hover {
  text-decoration: underline;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.booking-button {
  background-color: #35cd4e;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s;
}

.booking-button:hover {
  background-color: #2ca53c;
}

.blackFrame {
  border: 2px solid black;
  margin: 20px 0;
}

.frameContent {
  display: flex;
  flex-direction: column;
}

.frameHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding: 10px;
  font-weight: bold;
}

.headerLeft,
.headerRight {
  flex: 1;
}

.headerLeft {
  text-align: left;
}

.headerRight {
  text-align: right;
}




